.App {
  display: flex;
  transform: scale(0.3);

}
.Pizza {
  margin-right: 200px;
  display: block;
  position: relative;
  transform-origin: center;
  transform: rotate(180deg);
  /* transform: scale(0.3); */

}

.PizzaTwo {
  transform: translate(-450px,350px);
}

.Heart{

}