// Float collapses block so need to clear by adding pseudo element :: after block
@mixin clearfix{
    &::after{
        // Adding a content (otherwise wont show)
        content:"";
        display: table;
        // Clears both float left and float right
        clear: both;

    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
// MEDIA QUERY MANAGER
// 0-600px: Phone
// 600-900px: Tablet Portrait
// 900-1200px: Tablet landscape
// 1200-1800px: Where normal styles apple
// 1800px ++ : Big desktop

//************* Breakpoint argument choices
// phone
// tab-port
// tab-land
// big-desktop
// use em for font size better in media queries
// 1em = 16px
@mixin respond($breakpoint){
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {@content}; //600px
    }
    @if $breakpoint == tab-port{
        @media(max-width: 56.25em) {@content}; //900px
    }
    @if $breakpoint == tab-land{
        @media(max-width: 75em) {@content}; //1200px
    }
    @if $breakpoint == big-desktop{
        @media(min-width: 112.5em) {@content}; //1800px
    }
}