.App {
  display: flex;
  transform: scale(0.6);

}
button:focus {outline:0;}

.Pizza {
  margin-right: 200px;
  display: block;
  position: relative;
  transform-origin: center;
  transform: rotate(180deg);
  /* transform: scale(0.3); */
}

.PizzaTwo {
  transform: translate(-460px,350px);
}

.CakeHearts1 {
  transform: rotate(270deg) translate(-2%,-124%);
}
.CakeHearts2 {
  transform: rotate(90deg) translate(102%,306%);
}
.Hearts{
  transform:translate(-1480%,70%)
}
.Hearts2{
  transform:translate(-2100%,110%)
}
.Hearts3{
  transform:translate(-2030%,140%)
}
.Hearts4{
  transform:translate(-1950%,40%)
}
.Palette{
  transform: translateX(-1900px)  scale(1.5);
}

.PizzaTopping{
  transform: translateX(-1350px) translateY(850px) scale(1.5)
}
.Girl{
  transform: translateX(-3050px) translateY(1050px) scale(1.5)
}
.Boy{
  transform: translateX(-2700px) translateY(1050px) scale(1.5)
}