.App {
  display: flex;
  transform: scale(0.6);

}
.Pizza {
  margin-right: 200px;
  display: block;
  position: relative;
  transform-origin: center;
  transform: rotate(180deg);
  /* transform: scale(0.3); */

}

.PizzaTwo {
  transform: translate(-450px,350px);
}

.CakeHearts1 {
  transform: rotate(270deg) translate(-4%,-117%);
}
.CakeHearts2 {
  transform: rotate(90deg) translate(104%,295%);
}