.heart{
    background-color:pink;
    width: 100px;
    height:100px;
    text-align: center;
    transform: rotate(45deg);
    animation-duration: 1s;
    animation-name: beat;
    animation-iteration-count: infinite;
    display: block;
    position: relative;
    z-index: 30;
}

.heart::before{
    content: "";
    width: 100px;
    height:100px;
    background-color: pink;
    position: absolute;
    right:20px;
    top: 0px;
    border-radius: 50%;
}
.heart::after{
    content: "";
    width: 100px;
    height:100px;
    background-color: pink;
    position: absolute;
    right:-10px;
    bottom: 30px;
    border-radius: 50%;
}

@keyframes beat{
    0%{
        transform: scale(1) rotate(45deg);
    }
    5%{
        transform: scale(0.6) rotate(45deg);
    }
}