.navigation{
    &__checkbox{
        display: none;
    }

    &__button{
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top:6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 2rem rgba($color-black,.1);
        text-align: center;
        cursor: pointer;
    }

    &__background{
        height: 6rem;
        width: 6rem;
        border-radius: 60%;
        // similar to absolute but just doesn't change
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image:radial-gradient($color-primary-light,$color-primary-dark);
        z-index:20;
        transition: transform .8s cubic-bezier(0.86,0,0.007,1);
    }   


    &__nav{
    // 100% of view port height
       height: 100vh;
       width:100%;
       position: fixed;
       top: 0;
       right: 0;
       z-index: 150;

       opacity: 0;
       width: 0;
       transition: all .8s cubic-bezier(0.86,0,0.007,1);
    }
    &__list{
        position: absolute;
        top : 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
    }
    &__item{
        margin:1rem;

    }

    &__link{

        &:link, &:visited{
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
    
            background-image: linear-gradient(120deg,transparent 0%, transparent 50%, $color-white 50%);
            background-size: 220%;
            transition: all .8s cubic-bezier(0.86,0,0.007,1);
        }
        span{
            display : inline-block;
            margin-right: 1rem ;
        }

        &:hover,&:active{
            // to create hovering effect
            background-position: 100%;
            color:$color-primary;
            transform:translateX(1rem);

        }

    }
    //FUNCTIONALITY
    // Use checkbox hack (previously done for navigation, on the navigation
    // Note for in label connects the name on the input with it, so when click input label, it selects the checkbox as well'
    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    //ICON
   &__icon{
       position: relative;
       margin-top: 3.5rem;

       &,
       &::before,
       &::after{
        //    To get the lines (3 lines, itself, before and after -> use width 3rem & really small height
           width: 3rem;
           height: 2px;
           background-color: $color-grey-dark-3;
           display: inline-block;
       }
// To show pseudo element need to have content = " " defined
// position of span element at 0 and before at -1 after at 1 now span aligned to the top of the container (contained in label navigation__button 
// since it is a span (i.e. in-line) element, can use text-align center -> see in &__button) and then move down by margin in icon (&__icon)
       &::before,
       &::after{
        content:"";
        position: absolute;
        left:0;
        transition: all .2s;
       }

       &::before{top:-.8rem};
       &::after{top:.8rem};
   }

   &__button:hover &__icon::before{
       top: -1rem;
   }

   &__button:hover &__icon::after{
    top: 1rem;
    }
// Adjacent sibling "+"
    &__checkbox:checked + &__button &__icon{
        // can't change size because before and after pseudo elements depend on the size so just change color to transparent
        background-color: transparent;
    }
    //Now perform for when click the button (using checkbox element) pseudo elements should form a cross
    &__checkbox:checked + &__button &__icon::before{
        top:0;
        transform: rotate(45deg);
    }

    &__checkbox:checked + &__button &__icon::after{
        top:0;
        transform: rotate(-45deg);
    }

}