section{
    width: 100%;
    float:left;
    border:1px solid blue;
}

div{
    width:40px;
    height:300px;
    margin:10px
}

.block1{
    
    background-color: pink;
    float:left;
    
}

.block2{
    background-color: pink;
    float:left;
}
.block3{
    background-color: cyan;
    float: right;
}