
.PizzaCrust{
    display: block;
    width: 500px;
    height: 500px;
    border-radius:0 1000px 10000px 1000px;
    background-image: linear-gradient(to bottom, rgb(231, 158, 23),rgb(138, 92, 6));
    margin: 30px auto;
    position: relative;

}

.Cheese{
    display: block;
    position: absolute;
    top: 20px;
    left: 0px;
    width: 400px;
    height: 400px;
    border-radius:0 1000px 10000px 1000px;
    background-image: linear-gradient(to bottom,rgb(255, 174, 0),rgb(255, 217, 0));
    z-index: 10;
}

.Pepperoni{
    display: block;
    position: absolute;
    top: 100px;
    left: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(to right, rgb(138, 12, 12),rgb(255, 81, 0));
    z-index: 20;
}

.Pepperoni::before{
    display: block;
    content: "";
    position: absolute;
    top: 150px;
    left: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(to right, rgb(138, 12, 12),rgb(255, 81, 0));
    z-index: 20;
}

.Pepperoni::after{
    display: block;
    content: "";
    position: absolute;
    bottom: 60px;
    left: 200px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(to right, rgb(138, 12, 12),rgb(255, 81, 0));
    z-index: 20;
}

.Mushroom{
    display: block;
    position: absolute;
    top: 80px;
    left: 120px;
    width: 80px;
    height: 70px;
    transform: rotate(80deg);
    border-radius: 0 0 100px 100px;
    background-image: linear-gradient(to right,rgb(207, 170, 101),rgb(214, 191, 148));
    z-index: 30;
}

.Mushroom::before{
    display: block;
    content: "";
    position: absolute;
    top: 80px;
    left: 100px;
    width: 80px;
    height: 70px;
    transform: rotate(80deg);
    border-radius: 0 0 100px 100px;
    background-image: linear-gradient(to right,rgb(207, 170, 101),rgb(214, 191, 148));
    z-index: 30;
}

.Mushroom::after{
    display: block;
    content: "";
    position: absolute;
    bottom: 80px;
    left: 100px;
    width: 80px;
    height: 70px;
    transform: rotate(80deg);
    border-radius: 0 0 100px 100px;
    background-image: linear-gradient(to right,rgb(207, 170, 101),rgb(214, 191, 148));
    z-index: 30;
}

.Vegetables{
    height: 100px;
    width:30px;
    display: block;
    background-image: linear-gradient(to right, rgb(11, 90, 11), rgb(38, 168, 38));
    border-radius: 100px 100px 100px 10px;
    position: absolute;
    left: 120px;
    top: 50px;
    transform: rotate(30deg);
    z-index: 30;
}

.Vegetables::after{
    height: 100px;
    width:30px;
    content:"";
    display: block;
    background-image: linear-gradient(to right, rgb(11, 90, 11), rgb(38, 168, 38));
    border-radius: 100px 100px 100px 10px;
    position: absolute;
    left: 100px;
    top: 100px;
    transform: rotate(-100deg);
    z-index: 30;
}

.Vegetablesone{
    height: 100px;
    width:30px;
    display: block;
    background-image: linear-gradient(to right, rgb(11, 90, 11), rgb(38, 168, 38));
    border-radius: 100px 100px 100px 10px;
    position: absolute;
    left: 50px;
    top: 250px;
    transform: rotate(30deg);
    z-index: 30;
}

.Vegetablesone::before{
    height: 100px;
    width:30px;
    display: block;
    content: "";
    background-image: linear-gradient(to right, rgb(11, 90, 11), rgb(38, 168, 38));
    border-radius: 100px 100px 100px 10px;
    position: absolute;
    left: 15px;
    bottom: 250px;
    transform: rotate(30deg);
    z-index: 30;
}

.Vegetablesone::after{
    height: 100px;
    width:30px;
    content:"";
    display: block;
    background-image: linear-gradient(to right, rgb(11, 90, 11), rgb(38, 168, 38));
    border-radius: 100px 100px 100px 10px;
    position: absolute;
    left: 120px;
    bottom: 100px;
    transform: rotate(-100deg);
    z-index: 30;
}

.Sausage{
    height: 150px;
    width:50px;
    display: block;
    background-image: linear-gradient(to right, rgb(238, 129, 79),rgb(153, 78, 8));
    border-radius: 100px 100px 100px 100px;
    position: absolute;
    left: 150px;
    top: 250px;
    transform: rotate(30deg);
    z-index: 25;
}

.Sausage::before{
    height: 150px;
    width:50px;
    display: block;
    content: "";
    background-image: linear-gradient(to right, rgb(238, 129, 79),rgb(153, 78, 8));
    border-radius: 100px 100px 100px 100px;
    position: absolute;
    left: 15px;
    bottom: 250px;
    transform: rotate(30deg);
    z-index: 30;
}

.Sausage::after{
    height: 150px;
    width:50px;
    content:"";
    display: block;
    background-image: linear-gradient(to right, rgb(238, 129, 79),rgb(153, 78, 8));
    border-radius: 100px 100px 100px 100px;
    position: absolute;
    left: 10px;
    bottom: 150px;
    transform: rotate(-100deg);
    z-index: 30;
}

