<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuejs</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <p>{{ name }}</p>
        <p v-if="name == 'Max' ? false:true">Name updated!</p>
        <button v-on:click="changeName">Change Name</button>
        <button v-on:click="addElement">New Element</button>
        <ul>
            <li v-for="element in elements">A Element</li>
        </ul>

    </div>

    <script>
        new Vue({
            el:'#app',
            data:{
                name:'Max',
                age:'24',
                elements: []
            },
            methods:{
                changeName: function(){
                    this.name = "Anna"
                },
                addElement: function(){
                    this.elements.push(this.elements.length + 1)
                }
            }
        })
    </script>
</body>
</html>