header{
    background-color: lightgray;
    color: gray;
    height: 40px;
    width: 100%;
}
header li{
    padding-top: 10px;
    padding-bottom: 10px;
}
.intro:hover{
    color: white;
    cursor: pointer;
}

.ad{
    margin-top: 15px;
    width: 100%;
    height:535px;
}
.logo{
    width: 100%;
}
.ad:hover,.logo:hover,.item:hover{
    cursor: pointer;
}

.intro{
    float:right;
    list-style: none;
    margin-right: 20px;
}
.wrapper{
    display: grid;
    grid-template-columns: 20% 80%;
}
.item{
    background-color: lightblue;
    margin:10px;
    height:50px;
    list-style: none;
    text-align: center;
}

.all{
    background-color: rgb(112, 112, 224);
}

.item:hover{
    color: blue;
    background-color: white;
}
.form{
    display:flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
}
.form input{
    border:1px solid orange;
    height:30px;
    width: 500px;
}
button{
    background-color: orange;
    height:30px;
    border: 1px solid orange;
}
button:hover{
    background-color: gainsboro;
    border: 1px solid gainsboro;
    cursor: pointer;
}

.container-in .container-info{
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-right: 140px;
    margin-top: 0px;
}
.container-in .container-info .list{
    float: center;
    list-style: none;
    padding: 5px;
    font-size: 0.8em;
    color: lightgray;
}
.container-in .container-info li:hover{
    color: orange;
    cursor: pointer;
    text-decoration: underline orange;
}

.wrapper-options .container-options{
    display: flex;
    justify-content: space-evenly;
    margin-left: 0px;
    margin-right: 140px;
    margin-top: 0px;
    margin-bottom: 0;
}
.wrapper-options .container-options .list{
    float: center;
    list-style: none;
    padding: 5px;
    color: black;
    border-right: 1px solid gray;
}

.wrapper-options .container-options li:hover{
    color: blue;
    cursor: pointer;
}

.flex-container{
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    width: 100%;
    display: flex;
    list-style:none;
    background-color: lightblue;
    align-content: center;
}

.showlink{
    justify-content: center;
    padding:10px 10px 10px 10px
}

.aditem{
    padding: 10px;
    margin:10px;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: lightcoral;
}
.aditem:hover{
    cursor: pointer;
    background-color: mediumaquamarine;
}
