<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditional Vue</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <div id="app">
        <p v-if="show">You can see me!</p>
        <p v-else>Now you see me</p>
        <!-- Use template to group (doesn't show in overall elements) -->
        <template v-if="show">
            <h1>Heading</h1>
            <p>Inside a template</p>
        </template>
        <!-- v-show -> not detached, still there just set display:none (different for v-if) -->
        <p v-show="show">Do you also see me?</p>
        <button @click="show = !show">Switch</button>
        <script src="app.js"></script>
    </div>
</body>
</html>