.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content ul{
    padding:0px;
}
.dropdown-content li{
    list-style-type: none;
    text-decoration: none;
    padding: 10px;    background-image: linear-gradient(to bottom,red, yellow);
}
.dropdown-content li:hover{
    background-image: linear-gradient(to bottom,rgba(255,0,0,0.4), rgba(255,255,0,0.4));
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}
