.container{
    // if enough space go to 120rem if not, just occupy 100%
    max-width: 120rem;
    // center
    margin: 8rem auto;
    background-color:var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;

    @media only screen and (max-width:$bp--largest){
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);
    // header is the parent of the flexbox items we want to set (e.g. the svg icons)
    display: flex;
    // use justify content on the parent element to set its child & align items
    justify-content: space-between;
    align-items: center;

}

// Use flex-box so set container to flex (display)
.content{
    display: flex;
    
    @media only screen and (max-width:$bp--medium){
        flex-direction: column;
    }
}

.sidebar{
    background-color: var(--color-grey-dark-1);
    // use flex-basis to define width (shorthand flex:0 0 18%) set grow, shrink to 0
    flex: 0 0 18%;
    // Want the footer to be at the bottom so set the sidebar as the parent & set items
    // flex direction as column switches the axis and now justify content does it vertically
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hotel-view{
    // we want this element to grow as much as it can
    // set grow to 1
    flex:1;
}

.detail{
    // want description and user-reviews to be side-by-side
    display: flex;
    justify-content: center;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    @media only screen and (max-width:$bp--medium){
       padding: 3rem;
    }

    @media only screen and (max-width:$bp--small){
        flex-direction: column;
        margin-bottom: 3rem;
     }
}

.description{
    font-size: 1.4rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding:3rem;

    @media only screen and (max-width:$bp--medium){
        padding: 2rem;
     }

     @media only screen and (max-width:$bp--small){
        margin-right: 0;
     }
    
}
.user-reviews{
    // occupy remaining space (use flex-grow
    flex: 1;
    // To set button at the center (cannot use text-align because will align all texts)
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width:$bp--small){
        margin-top: 2rem;
        align-items: stretch;
     }
}