.container{
    // if enough space go to 120rem if not, just occupy 100%
    max-width: 120rem;
    // center
    margin: 8rem auto;
    background-color:var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
}

.header{
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);
    // border-bottom: black;
}

// Use flex-box so set container to flex (display)
.content{
    display: flex;
}

.sidebar{
    background-color: var(--color-grey-dark-1);
    // use flex-basis to define width (shorthand flex:0 0 18%) set grow, shrink to 0
    flex: 0 0 18%;
    
}
.hotel-view{
    background-color: white;   
    background-color: orangered;
    // we want this element to grow as much as it can
    // set grow to 1
    flex:1;

}