/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height:95vh;
    background-image: linear-gradient(to right,rgb(126, 213, 111,0.8),rgb(40, 180, 133,0.8)),url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75%,0 100%);   
    position: relative;
}

/* parent is .header, position of parent set to relative */
.logo-box{
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo{
    height: 35px;
}

.text-box{
    position: absolute;
    /* position absolute & top, left is relative to the relative element which is the header */
    top: 50%;
    left: 50%;
    /* translate is relative to the element itself  */
    transform: translate(-50%, -50%);
    /* To ensure stuff like button (inline-block) is at the center */
    text-align: center;
}

.heading-primary{
    color: white;
    text-transform: uppercase;
    /* To get rid of the shaking quality */
    backface-visibility: hidden;
    margin-bottom: 60px;
}
/* Span is inline by default so make 'block' to be in different lines */
.heading-primary-main{
    display: block;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 35px;
    animation-name: moveInleft;
    animation-duration: 1.5s;
}
/* Span is inline by default so make 'block' to be in different lines */
.heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 15px;
    animation-name: moveInright;
    animation-duration: 1.5s;
}

@keyframes moveInleft {
    /* 0% at the beginning and 100% at the end */
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform:translate(0)
    }
}

@keyframes moveInright {
    /* 0% at the beginning and 100% at the end */
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform:translate(0)
    }
}

/* link is the normal state, visited is the state after clicked */
/* Initial state is an inline element, need to change to inline block */
.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    /* transition property in the initial state */
    transition: all .2s;
    /*reference to button (initial state) so set position as relative there */
    position: relative;
}


.btn:hover{
    transform: translateY(-3px);
    /* x direction, y-direction and blur */
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
/* When click */
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.btn-white{
    background-color: white;
    color: #777;
}

.btn::after{
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    /* need to have a reference, reference to button (initial state) so set position as relative there */
    /* set to be same position relative to button to hide behind button*/
    position: absolute;
    top: 0;
    left: 0;
    /* and set behind button */
    z-index: -1;
    transition: all 0.4s;
}
/* Initial state of button white::after pseudo element */
.btn-white::after{
    background-color: white;
}
/* Pseudo element changes scale after hover but initially cannot see since put behind original button */
.btn:hover::after{
    transform: scale(1.5);
    /* fadeout */
    opacity: 0;
}