.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 20px;
  }
  
  .sidebar {
    grid-column: 1;
    background-color: #333;
    color: #fff;
    font-size: 90%;
    padding: 10px;
  }
  
  .content {
    grid-column: 2;
  }
  
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font: 1em/1.4 Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fafafa;
  }
  
  blockquote {
    margin: 0;
    padding: 0;
  }