header{
    background-color: lightgray;
    color: gray;
    height: 40px;
    width: 100%;
}
header li{
    padding-top: 10px;
    padding-bottom: 10px;
}
.intro:hover{
    color: white;
    cursor: pointer;
}

.ad{
    margin-top: 15px;
    width: 100%;
    height:535px;
}
.logo{
    width: 100%;
}
.ad:hover,.logo:hover,.item:hover{
    cursor: pointer;
}

.intro{
    float:right;
    list-style: none;
    margin-right: 20px;
}
.wrapper{
    display: grid;
    grid-template-columns: 20% 80%;
}
.item{
    background-color: lightblue;
    margin:10px;
    height:50px;
    list-style: none;
    text-align: center;
}
.item:hover{
    color: blue;
    background-color: white;
}
.form{
    display:flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
}
.form input{
    border:1px solid orange;
    height:30px;
    width: 500px;
}
button{
    background-color: orange;
    height:30px;
    border: 1px solid orange;
}
button:hover{
    background-color: gainsboro;
    border: 1px solid gainsboro;
    cursor: pointer;
}
