.container{
    display: grid;
    grid-template-columns: auto auto auto;
    /* justify-content: space-around; */
    grid-gap: 10px;
    background-color: salmon;
}

.container>div{
    background-color: rgb(187, 255, 0);
    /* text-align: center; */
}

/* @media screen and (min-width: 500px){
    .container{
        grid-template-columns: auto auto;
    }
} */

@media screen and (max-width: 500px){
    .container{
        grid-template-columns: auto;
    }
}

@media screen and (min-width: 800px){

    .container > .item5{
        grid-column: 1/5;
    }
}