.name:hover{
    color: blueviolet;
}

.Table,th{
   
        width: 100vw;
        border: 10px double green;
        /* border-collapse: collapse; */
        border-top-style: solid;
        caption-side: top; 
}
td{
    width: 100vw;
        border: 5px double yellowgreen;
        /* border-collapse: collapse; */
        border-top-style: solid;   
}
caption{
    text-align: left;
}
caption:hover{
    text-transform: uppercase;
}

.name,.surname{
    background-color: hotpink;
}

#email {
    background-color: tomato;
}