#vue-app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    /* background-image: linear-gradient(to bottom, rgb(44, 40, 40),rgb(151, 149, 149)); */
}
.ball div{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: linear-gradient(to right,pink,rgb(233, 12, 49));
    position: absolute;
    top: 100px;
    left: 100px;
    animation: bounce 1.5s linear infinite;
}
.ball div:nth-child(1){
    position: absolute;
    top: 200px;
    left: 200px;
    
}
.ball div:nth-child(2){
    animation-delay: 0.2s;
    background-image: linear-gradient(to right,rgb(180, 255, 209),rgb(36, 104, 53));
}
.ball div:nth-child(3){
    position: absolute;
    top: 100px;
    left: 300px;
    background-image: linear-gradient(to right,rgb(180, 237, 255),rgb(12, 71, 233));
    animation-delay: 0.4s;
}
.ball div:nth-child(4){
    position: absolute;
    top: 100px;
    left:1200px;
    background-image: linear-gradient(to right,rgb(180, 255, 209),rgb(36, 104, 53));
}
.ball div:nth-child(5){
    position: absolute;
    top: 200px;
    left:1300px;
    background-image: linear-gradient(to right,rgb(180, 237, 255),rgb(12, 71, 233));
    animation-delay: 0.2s;
}
.ball div:nth-child(6){
    position: absolute;
    top: 100px;
    left:1400px;
    animation-delay:0.4s;
}
.brickPlay li{
    list-style-type: none;
    height: 20%;
    width: 20%;
    background-image: linear-gradient(to right,rgb(255, 235, 192),rgb(153, 95, 7));
    background-repeat: repeat;
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: -1;
}
.brickPlay li:nth-child(2){
    bottom: 20%;
    left: 20%;
}
.brickPlay li:nth-child(3){
    bottom: 0%;
    left: 40%;
}
.brickPlay li:nth-child(4){
    bottom: 20%;
    left: 60%;
}
.brickPlay li:nth-child(5){
    bottom: 0%;
    left: 80%;
}
.brickPlay li:nth-child(6){
    bottom: 40%;
    left: 0%;
}
.brickPlay li:nth-child(7){
    bottom: 60%;
    left: 20%;
}
.brickPlay li:nth-child(8){
    bottom: 40%;
    left: 40%;
}
.brickPlay li:nth-child(9){
    bottom: 60%;
    left: 60%;
}
.brickPlay li:nth-child(10){
    bottom: 40%;
    left: 80%;
}
.brickPlay li:nth-child(11){
    bottom: 80%;
    left: 0%;
}
.brickPlay li:nth-child(12){
    bottom: 80%;
    left: 40%;
}
.brickPlay li:nth-child(13){
    bottom: 80%;
    left: 80%;
}


.lost{
    width: 500px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 20px 40px;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgb(163, 163, 62),rgb(139, 97, 45));
    font-weight: bold;
}

.won{
    width: 500px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 20px 40px;
    border-radius: 30px;
    background-image: linear-gradient(to right, rgb(163, 163, 62),rgb(241, 130, 2));
    font-weight: bold;
    position: relative;
    overflow: hidden;
    animation: scaleAnimation 3s linear infinite;
}
.won:before{
    content: '';
    background-color: white;
    width: 60px;
    height: 100px;
    opacity: 0.7;
    position: absolute;
    top:-10px;
    left: -70px;
    transform-origin: center;
    transform: rotate(15deg);
    /* transform: rotate(-30deg); */
    animation: wonAnimation 3s linear infinite;
}
@keyframes wonAnimation {
    0%{
        transform: translateX(-100px) rotate(15deg) ;
    }
    50%{
        transform: translateX(700px) rotate(15deg) ;
    }
    100%{
        transform: translateX(-100px) rotate(15deg) ;
    }
}
@keyframes scaleAnimation{
    0%{
        transform: scale(1) ;
    }
    50%{
        transform: scale(1.2) ;
    }
    100%{
        transform: scale(1) ;
    }
}

button{
    background-image: linear-gradient(to right, rgb(29, 124, 202),rgb(101, 189, 201));
    width:170px;
    padding: 20px 20px;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
    /* border: 5px solid rgb(114, 28, 45); */
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700;
}

button:before{
    content: '';
    width: 40%;
    height: 200%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top:-20px;
    left: -100px;
    transform: rotate(20deg);
    transition: all 0.5s;
    opacity: 0.7;
}

button:hover{
    cursor: pointer;
}

button:focus{
    outline: none;
}
button:hover:before{
    transform: translate(350px) rotate(20deg);
}

ul {
    list-style-type: none;
    display: flex;
}

ul li{
    padding: 10px 10px;
    width: 30px;
    height: 30px;
    margin: 10px;
    background-color: coral;
    line-height: 30px;
    text-align: center;
    border: 5px solid brown;
    border-radius: 25px;
    font-family:'Lucida Sans';
    font-weight: bold;
}

.time-bar{
    width: 500px;
    height: 20px;
    border: 2px solid black;
    margin-bottom: 10px;
}
.time-bar div{
    width: 100%;
    height: 20px;
    background-image: linear-gradient(to right, rgb(202, 18, 18),rgb(12, 136, 59));
    background-color: rgb(202, 18, 18);
}
@keyframes bounce {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(500px);
    }
    100%{
        transform: translateY(0px);
    }
}