<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <title>Spelling Game</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <div id="vue-app">
        <!-- {{text}} -->
        <button v-on:click="randomText();countDownTimer()">Start</button>
        <button v-on:click="resetTimer">Reset Timer</button>
        <p class="won" v-if="youWin">CONGRATULATIONS! YOU WON!!</p>
        <p class="lost" v-else-if="gameOver">GAME OVER!</p>
        <!-- <ul> 
            <li v-for="[index,el] in arr" v-on:click="removeText(index)">{{index,el}}</li>
        </ul>
        <input type="text" v-model="text" v-on:input="splittext"> -->
        <br><br>
        <div class="time-bar" v-if="!gameOver && !youWin">
            <div v-bind:style="{width:countDown*5 + '%'}"></div>
        </div>
        <!-- <button v-if="!gameOver" v-on:click="randomText(6)">Generate Random Text</button>
        <p>{{random}}</p> -->
        <ul>
            <li v-if="!gameOver && !youWin" v-for="[element,index] in text">{{element}}</li>
        </ul>
        <h3 v-if="!gameOver && !youWin">Type all the letters before time runs out</h3>
        <input v-if="!gameOver && !youWin" id="inputText" type="text" v-model="input" v-on:input="testInput" v-on:keyup.enter="tempRefresh">
        <br><br>
        <button v-if="!gameOver && !youWin" v-on:keydown.enter="tempRefresh">Refresh</button>
    </div>
<script src="app.js"></script>
</body>
</html>