<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <title>Spelling Game</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <div id="vue-app">
        <!-- {{text}} -->
        <button v-on:click="splittext">Start</button>
        <ul>
            <li v-for="[index,el] in arr" v-on:click="removeText(index)">{{index,el}}</li>
        </ul>
        <input type="text" v-model="text" v-on:input="splittext">
    </div>
<script src="app.js"></script>
</body>
</html>