  
  .red{
    color:red;
  }
  .green{
    color: green;
  }
  .bold{
    font-weight: bold;
  }
  
  .Cockpit Button{
    background-color: green;
    color:white;
    font:inherit;
    border:1px solid blue;
    padding: 8px;
    cursor:pointer;
  
  }

  .Cockpit Button.Red{
      background-color: red;
  }

  .Cockpit Button.Red:hover{
    background-color: salmon;
    color: black;
}