.container{
    background-color: #eee;
    width: 1000px;
    /* Center trick */
    /* auto left right */
    margin: 30px auto;
    
    display: grid;
    /* 2 rows + 1 */
    /* repeat function */
    grid-template-rows: repeat(2,150px);
    /* columns */
    /*1) 2 columns with 150px and the last one with 300px */
    /* grid-template-columns: repeat(2,150px) 300px; */
    /* 2) The last column takes up the entire remaining space */
    /* grid-template-columns: repeat(2,150px) 1fr; */
    /* 3) want 3 tracks each with the same length */
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
}

.item{
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    
}


.item--1{
    background-color: orangered;
}

.item--2{
    background-color: yellowgreen;
}
.item--3{
    background-color: violet;
}
.item--4{
    background-color: pink;
}
.item--5{
    background-color: blue;
}

.item--6{
    background-color: brown;
}