/* METHOD 3 NAME GRID AREAS  */
.container{
    width: 1000px;
    background-color: white;
    /* center block */
    margin: 30px auto;
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, [col-start] 1fr [col-end]) 150px [grid-end];
    grid-template-rows: [header-start] 1fr [header-end box-start] 2fr [box-end main-start] 4fr [main-end footer-start] 1fr [footer-end];
    /* Defines first row of areas */
    grid-template-areas: "head head head head"
                         "box box box side"
                         "main main main side"
                         "foot foot foot foot";

    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.item{
    padding: 20px;
    background-color: tomato;
}

.header{
   grid-area: head;
}

.sidebar{
    grid-area: side;
}

.footer{
    grid-area: foot;
}
.main-content{
    grid-area: main;
}
