.Person{
    width: 70%;
    margin: 16px auto;
    border: 1px solid pink;
    box-shadow: 0 2rem 6rem rgba(0,0,0,0.3);
    background-color: pink;
    padding: 16px;
    text-align: center;
}

@media (min-width:500px){
    .Person{
        width: 450px
    }
}

