body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rosybrown;
}

.pink{
    position: absolute;
    top: 400px;
    left: 400px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, rgb(206, 96, 178),rgb(218, 129, 195));
}
.red{
    position: absolute;
    top: 300px;
    left: 400px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, rgb(177, 8, 8),rgb(240, 47, 47));
}
.orange{
    position: absolute;
    top: 300px;
    left: 500px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, rgb(173, 55, 0),rgb(252, 107, 10));
}
.yellow{
    position: absolute;
    top: 300px;
    left: 600px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, rgb(228, 192, 33),rgb(238, 255, 1));
}
.green{
    position: absolute;
    top: 400px;
    left: 600px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, rgb(58, 160, 11),rgb(81, 255, 1));
}
.blue{
    position: absolute;
    top: 400px;
    left: 500px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, rgb(11, 125, 160),rgb(1, 217, 255));
}